<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }
        html,body{
            height: 100%;
            width: 100%;
            color: white;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>Profile Pic Upload Kro</h1>
 <form action="/upload" method="post" enctype="multipart/form-data" style="margin-top: 20px;">
    <input type="file" name="image" id="">
    <button style="background-color: blueviolet;color: white; border: none;padding: 10px 30px;">Upload</button>
 </form>   
</body>
</html>